.navbar {
  background-color: black;
  height: 60px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 15pt;
    margin:0 30px;
    padding-top: 10px;
    float: right;
}

.navbar a:hover {
    color: grey;
}

div{
    color:red;
}
.logo {
    color: blue;
    &-img{
        position: relative;
        max-height: 40px;
        margin-right: 120px;
        padding: 10px;
        float: left;
    }
}
