.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 2fr));
  grid-gap: 20px;
  justify-items: start;
  margin: 20px;
}
.textbox {
  //background-color: yellowgreen;
  justify-self: center;
  font-family: inherit;
  color: black;
  font-size: 25px;
  background-color: #b7d885;
  border-radius: 10px;
  grid-gap: 5px;
}
.imgbox {
  img {
    width: 100%;
    //height: 100;
  }
  grid-row: 1/2;
  background-color: #b7d885;
  border-radius: 20px;
  grid-gap: 5px;
}
.header {
  text-transform: uppercase;
  color: black;
}

.dishName {
  text-transform: capitalize;
  color: black;
}

.commentBox {
  width: 75%;
  height: 50px;
  border-radius: 5px;
  padding: 1em;
}

.submitBox {
  width: 50%;
  background-color: #b7d885;
  padding: 1em;
  border: none;
  border-radius: 4px;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 20px;
}

.blockBlack {
  display: block;
  background: black;
  border-radius: 20px;
  grid-gap: 5px;
  color: #ffd26f;
  margin: 20px;
}

.blockYellow {
  display: block;
  background: #ffd26f;
  border-radius: 20px;
  grid-gap: 5px;
  color: whitesmoke;
  margin: 20px;
}

.blockGreen {
  display: block;
  background: #b7d885;
  border-radius: 20px;
  grid-gap: 5px;
  color: whitesmoke;
  margin: 5px;
}

.reviewSec {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  img {
    height: 10%;
    width: 10%;
  }
  justify-items: start;
}

