.home{
    background-image: url("../../Asset/RiteBites2.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    min-height: 100vh;
    min-width: 100vw;
    height: 2000px;
}



h1 {
  font-style: italic;
  background-color: inherit;
  color: #ffffff;
  text-align: center;
}
h3 {
  background-color: inherit;
  color: #162315;
  padding-left: 10px;
  text-align: left;
}

div a:hover {
  background-color: inherit;
  color:inherit;
}

.gallerybox {
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
  height: 500px;
  border-radius: 15px;

}

.images {
  width: 400px;
  height: 150px;
  object-fit: cover;

}

.boxlet {
  height: 200px;
  min-width: 300px;
  max-width: 1000px;
  margin: 10px;
  float: left;
  border-radius: 15px;
  padding: 10px;
}

footer {
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}
