.home{
    background-image: url("../../Asset/breakfast.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    min-width: 100vw;
}